### Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd.

In [1]:
import pandas as pd
import numpy as np

Создайте датафрейм authors со столбцами author_id и author_name,
в которых соответственно содержатся данные:
[1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].

In [2]:
authors = pd.DataFrame({'author_id': [1, 2, 3], 'author_name':  ['Тургенев', 'Чехов', 'Островский']},
                       columns = ['author_id', 'author_name'])
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

Затем создайте датафрейм book cо столбцами author_id, book_title и price,
в которых соответственно содержатся данные: 
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [3]:
book = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3], 
                        'book_title':  ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                       'price':  [450, 300, 350, 500, 450, 370, 290] },
                       columns = ['author_id', 'book_title', 'price'])

### Задание 2

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [4]:
authors_price = pd.merge(authors, book, on = 'author_id', how = 'outer')

### Задание 3 

Создайте датафрейм top5, в котором содержатся строки из authors_price 
с пятью самыми дорогими книгами.

In [5]:
top5 =  authors_price.sort_values(by='price').tail()

### Задание 4

Создайте датафрейм authors_stat на основе информации из authors_price.
В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора,
минимальная, максимальная и средняя цена на книги этого автора.

среднее значение (вариант 1)

In [6]:
spam = []
for i in authors['author_id']:
    spam.append(authors_price.loc[authors_price['author_id'] == i].mean())
spam = pd.DataFrame(spam)
spam.columns =['author_id', 'mean_price']
authors_stat = pd.merge(authors, spam)
authors_stat

   author_id author_name  mean_price
0          1    Тургенев  366.666667
1          2       Чехов  475.000000
2          3  Островский  330.000000

максимальное и минимальное значения (вариант 2)

In [7]:
spam01 = pd.concat([authors_price.groupby('author_id')['price'].max(),authors_price.groupby('author_id')['price'].min()], axis=1)
spam01.columns =['max_price', 'min_price']
authors_stat = pd.merge(authors_stat, spam01, on = 'author_id', how = 'left')
authors_stat

   author_id author_name  mean_price  max_price  min_price
0          1    Тургенев  366.666667        450        300
1          2       Чехов  475.000000        500        450
2          3  Островский  330.000000        370        290